* {
    box-sizing: border-box;
}

html {
    background: url("blue-sky-background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

form {
    text-align: center;
}

.results {
    text-align: center;
}

.clothing {
    text-align: center;
}

button,
input[type="text"] {
    padding: 5px;
}

button,
input[type="submit"] {
    margin-top: 15px;
}

#js-lng {
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.results-list {
    list-style: none;
}

.clothing {
    font-weight: bold;
}